{% extends 'base/base.html' %}
{% block content %}


<form method="post">
         {% csrf_token %}


{{ form.username }}
    {% for error in form.username.errors %}
        <p>{{ error }}</p>
    {% endfor %}


{{ form.age }}
    {% for error in form.age.errors %}
        <p>{{ error }}</p>
    {% endfor %}

{{ form.email }}
    {% for error in form.email.errors %}
        <p>{{ error }}</p>
    {% endfor %}


{{ form.password1 }}
    {% for error in form.password1.errors %}
        <p>{{ error }}</p>
    {% endfor %}


{{ form.password2 }}
    {% for error in form.password2.errors %}
        <p>{{ error }}</p>
    {% endfor %}

        <input type="submit" value="Enter">
</form>

        <button><a href="{% url 'sign_in' %}">sign_in</a></button>
        <button><a href="{% url 'log_in' %}">log_in</a></button>

{% endblock %}