{% extends 'base/base.html' %}

{% block content %}

<h3>{{ prod.name }} {{ prod.price }}$</h3>
{% csrf_token %}
<form method="post"  action="{% url 'product_delete' prod.id %}?redirect=true">
        {% csrf_token %}

        <input type="submit" value="Delete">
</form>
 <button type="button" id="makeOrder" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#OrderModal"
           hx-get="{% url 'product_details' prod.id %}"
           hx-trigger="keyup delay:500ms"
           hx-include="closest form"
           hx-target="#OrderModal"
           hx-swap="outerHtml"
 >
      Buy
    </button>

    <div class="modal fade" id="OrderModal" tabindex="-1" aria-labelledby="OrderModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="OrderModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                {% if request.user.is_authenticated %}
                     <input type="submit" value="enter">
                {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



<div hx-get="{% url 'reviews_list' prod.id %}" hx-trigger="load" hx-target="this">



</div>

<div hx-get="{% url 'review_form' prod.id %}" hx-trigger="load" hx-target="this">


</div>
        <button><a href="{% url 'index' %}">home</a></button>
        <button><a href="{% url 'product' %}">product</a></button>
        <button><a href="{% url 'article' %}">article</a></button>
        <button><a href="{% url 'product_update' prod.id %}">product_update</a></button>

{% endblock %}